[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
environs = "*"
psycopg2-binary = "*"
drf-spectacular = "*"
djangorestframework = "==3.13.1"
django-rest-framework-social-oauth2 = "==1.1.0"
django-oauth-toolkit = "==2.0.0"
garpix-qa = "*"
garpix-utils = "*"
social-auth-app-django = "*"
coverage = "*"
flake8 = "*"
radon = "*"
flake8-polyfill = "*"
bandit = "*"
twine = "*"
m2r = "*"
asgiref = "==3.3.4"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django-phonenumber-field]
extras = [ "phonenumbers",]
version = "*"
